.d_link {
    stroke: #ccc;
    stroke-width:1;
}
.o_link {
    stroke: #ccc;
    stroke-width:1;
}
.btn-link:hover{
  color: black !important;
}
div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    /* text-align: center; */
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    margin-left: 10px;
}

svg {
    /* background-color: lightgrey; */
}

.ins {
    width: 250px;
    /* height: 100px; */
    min-height: 100px;
    overflow-y: auto;
    position: fixed;
    top: 120px;
    left: 100px;

    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#cccccc');

}
.ins li {
    cursor: pointer;
}
.insheader {
    width: 100%;
    height: 40px;
    background: steelblue;
    cursor: move;
}
.insback {
    margin-top: 5px;
    margin-left: 10px;
    visibility: hidden;
}
.insclose {
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
.addbut {
    float: right;
}
.insbut {
    visibility: hidden;
    background: steelblue!important;
    border-color: steelblue!important;
    position: absolute;
}
.list-group {
    overflow-y: scroll;
    max-height: 400px;
}
.sel {
    width: 350px;
    min-height: 100px;
    /* max-height: 90%; */
    /* overflow-y: auto; */
    position: fixed;
    top: 120px;
    right: 400px;

    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc; /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')"; /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#cccccc');

}

.selclear {
    margin-top: 5px;
    margin-left: 10px;
}
.sel li {
    cursor: pointer;
}
.selheader {
    width: 100%;
    height: 40px;
    background: steelblue;
    cursor: move;
}
.selbody {
    text-align: center;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}
.selclose {
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
.selbut {
    visibility: hidden;
    background: steelblue!important;
    border-color: steelblue!important;
    position: absolute;
}
.selectedBox {
    display: inline-block;
    background-color: lightgrey;
    margin: 5px;
    text-align: left;
    width: 140px;
    /* padding: 10px; */
}
.sbclose {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    padding: .25rem .4rem!important;
    font-size: .8rem!important;
    line-height: 1!important;
    border-radius: .2rem!important;
}
.sbinfo {
    margin: 35px 10px 10px 10px;
}

.activerecord{
  display : none;
}
.filter_font{
  color : "white";
}
.v_box{

  padding-left: 5px;
}
.checkbox-inline + .checkbox-inline{
  margin-left: 30px;
}
.fil_v{
  height: 400px;
  width: 300px;
  padding-left: 10px;
  overflow: scroll;
}
.con_v_all{
  height:300px;
  width: 400px;
  color: white;
}

.n_fil_con{
  padding-top:10px;
}
/* .v_ff{
  overflow: scroll;
} */
.tab-seprate{
  display:none;
}
.pc-active{
  display:block;
}

.e_ff{
  padding:15px;
}
.v_ff{
  padding:15px;
}
#tabItem1{
  overflow: scroll;
}
#tabItem2{
  overflow: scroll;
}
label{
  font-size:13px;
}

.g_none{
  display:none;
}
.g_active{
  display:block;
}


/* HTML {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

H2 {
    font-size: 14px;
    font-weight: bold;
    margin: 1em 0em .25em 0em;
}

P {
    margin: 1em 0em;
} */
.multiSelectOptions{
  width:150px !important;
  color:black !important;
}
#control_1 span{
  width:150px !important;
}
#control_1{
  vertical-align:bottom;
  height:30px !important;
}
